body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.note-form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid orange;
  padding: 10px;
  }

  .note-display, button {
    margin: 5px;
  }




  input {
    margin: 10px;
}

main {
  display: flex;
  justify-content: center;
}

