:local(.header) {
    background-color: navy;
    padding: 10px;

  .header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    color: white;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;
      margin-left: 5px;
      font-size: 15pt;
      padding-top: 24px;
    }

    a {
      text-decoration: none;
      color: white;
      padding: 5px;
    }
  }
}